:root {
    --ion-app-home-titlebar-size:           30px;
    --ion-app-home-button-size:             45px;
    --ion-app-home-title-size:              15px;
    --ion-app-transition-duration:          0.1s;
    --ion-app-home-font:                    Segoe UI Light;
    --ion-app-home-title-color:             #fff;
    --ion-app-home-hover-color:             rgba(255,255,255,0.2);
    --ion-app-home-margin:                  10px;
    --ion-app-titlebar-color:               rgb(0,0,0);
    --ion-app-titlebar-text-color:          rgb(255,255,255);
    --ion-app-main-color:                   rgb(0,0,0);
    --ion-app-shadow-size:                  10px;
    --ion-app-shadow-color:                 rgb(0,0,0);

    --ion-app-panel-border-color:           rgb(255,255,255);
    --ion-app-panel-border-size:            1px;
    --ion-app-dragger-size:                 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--ion-app-main-color);
    overflow: hidden;
}

/*          titlebar           */

.app-titlebar {
    background-color: var(--ion-app-titlebar-color);
    background-image: var(--ion-app-titlebar-color);
    width: 100%;
    height: var(--ion-app-home-titlebar-size);
    top: 0px;
    left: 0px;
    z-index: 20;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    box-shadow: 0px 0px var(--ion-app-shadow-size) var(--ion-app-shadow-color);
}

.app-home-button {
    background-color: rgba(0,0,0,0);
    position: absolute;
    color: var(--ion-app-home-title-color);
    top: 0px;
    font-size: var(--ion-app-home-title-size);
    font-family: var(--ion-app-home-font);
    width: var(--ion-app-home-button-size);
    height: var(--ion-app-home-titlebar-size);
    border: none;
    -webkit-app-region: no-drag;
    transition-duration: var(--ion-app-transition-duration);
}

.app-home-button.close {
    left: calc( 100% - var(--ion-app-home-button-size) );
}

.app-home-button.fs {
    left: calc( 100% - ( var(--ion-app-home-button-size) * 2 ) );
}

.app-home-button.mz {
    left: calc( 100% - ( var(--ion-app-home-button-size) * 3 ) );
}

.app-home-button.hm {
    left: 0px;
}

.app-home-button:hover {
    background-color: var(--ion-app-home-hover-color);
}

.app-home-button:focus {
    outline: none;
}

.app-home-button.close:hover {
    background-color: rgb(255,0,0);
}

.app-home-title {
    top: calc( var(--ion-app-home-margin) / 2 );
    left: calc( var(--ion-app-home-margin) + var(--ion-app-home-button-size) );
    font-size: var(--ion-app-home-title-size);
    font-family: var(--ion-app-home-font);
    color: var(--ion-app-home-title-color);
    position: absolute;
}

/*          panels           */

.app-main {
    position: absolute;
    top: var(--ion-app-home-titlebar-size);
    height: calc( 100% - var(--ion-app-home-titlebar-size) );
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    z-index: 0;
}

app-group {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}

.app-group left-right {
    flex-direction: row;
}

.app-group top-down {
    flex-direction: column;
}

app-panel {
    display: flex;
    color: #fff;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    border: var(--ion-app-panel-border-size) solid var(--ion-app-panel-border-color);
}

app-dragger {
    background-color: rgba(0,0,0,0);
    display: inline;
}

.app-dragger.left-right {
    width: var(--ion-app-dragger-size);
}

.app-dragger.left-right:hover {
    cursor: ew-resize;
}

.app-dragger.top-down {
    height: var(--ion-app-dragger-size);
}

.app-dragger.top-down:hover {
    cursor: ns-resize;
}